<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style2.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <div id="main">
        <div class="left">
          <a href="/">
            <i class="ri-home-5-fill"></i>
            <p>Home</p>
          </a>
          <a href="/search">
            <i class="ri-search-line"></i>
            <p>Search</p>
          </a>
          <a>
            <i class="ri-heart-fill"></i>
            <p>Liked Songs</p>
          </a>
        </div>
        <div class="right">
            <div class="musics"></div>
            <audio src="/stream/35c7e6c3b27ceb5184d96cbe05f4608886fc189f" controls></audio>
        </div>
    </div>
    

      <script>
                      
        function songCardClicked(filename){
          document.querySelector('audio').setAttribute('src',`/stream/${filename}`)
          document.querySelector('audio').play()
        }

      </script>
</body>
</html>