<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style2.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
<body>
    <div id="main">
        <div class="left">
          <a href="/">
            <i class="ri-home-5-fill"></i>
            <p>Home</p>
          </a>
          <a>
            <i class="ri-search-line"></i>
            <p>Search</p>
          </a>
          <a href="/like">
            <i class="ri-heart-fill"></i>
            <p>Liked Songs</p>
          </a>
        </div>
        <div class="right">
            <input type="text" placeholder="What you want to listen?">
            <button onclick="searchSong()">Search</button>
            <div class="musics"></div>
            <audio src="/stream/35c7e6c3b27ceb5184d96cbe05f4608886fc189f" controls></audio>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    

      <script>

        async function searchSong(){
        const result = await axios.post('/search',{
            search: document.querySelector('input').value
        })

        let clutter = ''

        result.data.songs.forEach(song => {
            clutter +=`<div class="song" onclick="songCardClicked('${song.fileName}')">
          <img src="/poster/${song.poster}" alt="">
          <div class="text">
            <h5>${song.title}</h5>
            <p>${song.artist}</p>
            <p>${song.album}</p>
          </div>

          <div class="playButton">
            <i class="ri-play-circle-fill"></i>
            <i class="ri-heart-line"></i>
          </div>
        </div>`
        });

        document.querySelector('.musics').innerHTML += clutter
    }

              
        
        function songCardClicked(filename){
          document.querySelector('audio').setAttribute('src',`/stream/${filename}`)
          document.querySelector('audio').play()
        }


      </script>
</body>
</html>